@import url(http://fonts.googleapis.com/css?family=Raleway:500,700);


body {
	padding: 30px;
	color: #fcf8ea;

font-family: 'Raleway', sans-serif;

-webkit-font-smoothing: antialiased;


  background-color: #660000;
  background-position: center center;
  background-repeat: no-repeat;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#9C0606), to(#2F2727));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #9C0606, #660000);
  
  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #9C0606, #660000);
  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #9C0606, #660000);
}


.container, .container-narrow {
  width: 320px;
  margin: 0px auto;
}

h4 {
  font-size: 30px;
  color: #F1B42F;
  line-height: 34px;

  margin-top: 20px;
}

p {
  font-size: 16px;
  text-align: justify;
  line-height: 22px;
}

/* Step 1 */

  .step1 .btn {
    margin: 10px 0px 20px;
  }

  .step1 .span {
  margin-bottom: 10px;
  }

  .step1 header {
    display: block;
    height: 230px;
    background: url(../img/logo.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

/* Step 2 */

.step2 header {
  display: block;
  height: 60px;
  background: url(../img/logo_short.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.step2 p {
  font-size: 16px;
  text-align: left;
  line-height: 22px;
}

.step2 h5 {
    font-size: 20px;
  color: #D44D13;
  line-height: 34px;
}

.step2 small {
  margin: 10px 0px;
  display: block;
}

/* Step 3 */

.step3 header {
  display: block;
  height: 60px;
  background: url(../img/logo_short.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.step3 table, .step3 td {
  color: #444;
  border: none;
}
