body {
	padding: 30px;
	color: #fcf8ea;
}

.container {
  width: 320px;
}

#radial-center {

  background-color: #660000;
  background-position: center center;
  background-repeat: no-repeat;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#9C0606), to(#2F2727));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #9C0606, #660000);
  
  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #9C0606, #660000);
  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #9C0606, #660000);
  
  /* Opera cannot do radial gradients yet */
}

header {
  background-color: pink;
  display: block;
height: 230px;
  background: url(../img/logo.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}